@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 100%, 74%);
    background-image: url(images/bg-intro-desktop.png);
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    padding: 40px;
    min-height: 100vh;

}

.container>div {
    flex: 1;
    margin: 20px;
}


.box {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    padding: 40px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    text-align: center;
}

.box-blue {
    background-color: hsl(248, 32%, 49%);
    padding: 20px;
}

.box p {
    margin: 0;
}

h1 {
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
}

p {
    font-size: 15px;
    opacity: 0.8;
}

.form-control {
    display: block;
    position: relative;
    margin-bottom: 30px;
}

.form-control small {
    text-align: right;
    position: absolute;
    bottom: -25px;
    right: 0;
    opacity: 0;
}

input {
    border-radius: 5px;
    padding: 20px;
    padding-left: 30px;
    font-family: 'Poppins', sans-serif;
    border: 0.5px hsl(246, 25%, 77%) solid;
    font-weight: 600;
    display: block;
    height: 50px;
    width: 100%;

}

input:focus {
    border: 0.5px solid hsl(248, 32%, 49%);
    outline: none;
}

button {
    width: 100%;
    height: 55px;
    background-color: hsl(154, 59%, 51%);
    border-radius: 5px;
    border: 1px hsl(154, 59%, 51%) solid;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    word-spacing: 2px;
}

button:focus {
    outline: none;
}

button:active {
    transform: translateY(2px);

}

small {
    color: rgb(187, 187, 194);
    font-size: 13px;
    text-align: center;
}

small a {
    color: hsl(0, 100%, 74%);
    text-decoration: none;
    font-weight: 600;
}

.attribution {
    text-align: center;
}

@media (max-width:768px) {
    body {
        background-image: url(images/bg-intro-mobile.png);
    }

    h1 {
        text-align: center;
        font-size: 40px;

    }

    p {
        text-align: center;
        padding: 25px;

    }

    .container {
        flex-direction: column;
    }

    .box-blue {
        padding: 30px;
    }


}